/* MAIN PRODUCT CONTAINER */
.mobile {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

/* EACH PRODUCT CARD */
.main {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 500px;
  background: #f7f7f7;
}

/* LEFT SIDE IMAGE */
.section-one img {
  width: 200px;
  border-radius: 10px;
}

/* RIGHT SIDE DETAILS */
.section-two {
  margin-left: 20px;
  max-width: 250px;
}

/* BUTTONS LAYOUT */
.payment {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* BUTTON STYLE */
.buy {
  background-color: aqua;
  padding: 10px;
  width: 120px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.buy:hover {
  background-color: #00d5d5;
}
.hoc {
  background-color: yellow;
  height: 200px;
}
.hoc_user {
  background-color: orange;
  height: 200px;
}
.app_logo {
  height: 40vmin;
  pointer-events: none;
}
